In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("hotel_bookings.csv")
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

# Data cleaning

    # removing duplicate rows

In [4]:
df.duplicated().sum()

31994

In [7]:
df.drop_duplicates(inplace=True)
df.shape

(87396, 32)

    # handling missing values

In [8]:
df.isna().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             452
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             12193
company                           82137
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [9]:
df["children"] = df["children"].fillna(0)
df["children"].isna().sum()

0

In [10]:
df["country"] = df["country"].fillna("Unknown")
df["country"].isna().sum()

0

In [11]:
# replace with 0 to indicate no agent or direct booking as this column has ID of agent
df["agent"] = df["agent"].fillna(0)
df["agent"].isna().sum()

0

In [12]:
# deleting company column which has too much missing value
del df["company"]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87396 entries, 0 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87396 non-null  object
 1   is_canceled                     87396 non-null  int64
 2   lead_time                       87396 non-null  int64
 3   arrival_date_year               87396 non-null  int64
 4   arrival_date_month              87396 non-null  object
 5   arrival_date_week_number        87396 non-null  int64
 6   arrival_date_day_of_month       87396 non-null  int64
 7   stays_in_weekend_nights         87396 non-null  int64
 8   stays_in_week_nights            87396 non-null  int64
 9   adults                          87396 non-null  int64
 10  children                        87396 non-null  float64
 11  babies                          87396 non-null  int64
 12  meal                            87396 non-null  object
 13  country                         87396 non-null  object
 14  market_segment                  87396 non-null  object
 15  distribution_channel            87396 non-null  object
 16  is_repeated_guest               87396 non-null  int64
 17  previous_cancellations          87396 non-null  int64
 18  previous_bookings_not_canceled  87396 non-null  int64
 19  reserved_room_type              87396 non-null  object
 20  assigned_room_type              87396 non-null  object
 21  booking_changes                 87396 non-null  int64
 22  deposit_type                    87396 non-null  object
 23  agent                           87396 non-null  float64
 24  days_in_waiting_list            87396 non-null  int64
 25  customer_type                   87396 non-null  object
 26  adr                             87396 non-null  float64
 27  required_car_parking_spaces     87396 non-null  int64
 28  total_of_special_requests       87396 non-null  int64
 29  reservation_status              87396 non-null  object
 30  reservation_status_date         87396 non-null  object
dtypes: float64(3), int64(16), object(12)
memory usage: 21.3+ MB

    # converting data-types of column

In [26]:
# converting year
df["arrival_date_year"] = pd.to_datetime(df["arrival_date_year"],format="%Y").dt.year

# coverting month
df["arrival_date_month"] = pd.to_datetime(df["arrival_date_month"],format="%m")
df["arrival_date_month"] = df["arrival_date_month"].dt.month

# converting day (date)
df["arrival_date_day_of_month"] = pd.to_datetime(df["arrival_date_day_of_month"],format="%d").dt.day

# converting reservation_status_date
df["reservation_status_date"] = pd.to_datetime(df["reservation_status_date"],format="%Y-%m-%d")

    # replacing values

In [31]:
# for is_canceled column
df["is_canceled"] = df["is_canceled"].replace({0:"Not Canceled",1:"Canceled"}).astype(str)

# for is_repeated_guest column
df["is_repeated_guest"] = df["is_repeated_guest"].replace({0:"Not Repeated",1:"Repeated"}).astype(str)

# for market_segment column
df["market_segment"] = df["market_segment"].str.replace("TA","").str.replace("TO","").str.replace("/","")

# for distribution_channel column
df["distribution_channel"] = df["distribution_channel"].str.replace("TA","Travel Agents").str.replace("TO","Tour Operators")

In [29]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,Not Canceled,342,2015,7,27,1,0,0,2,...,3,No Deposit,0.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,Not Canceled,737,2015,7,27,1,0,0,2,...,4,No Deposit,0.0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,Not Canceled,7,2015,7,27,1,0,1,1,...,0,No Deposit,0.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,Not Canceled,13,2015,7,27,1,0,1,1,...,0,No Deposit,304.0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,Not Canceled,14,2015,7,27,1,0,2,2,...,0,No Deposit,240.0,0,Transient,98.0,0,1,Check-Out,2015-07-03

    # inserting new arrival_date column

In [37]:
df["arrival_date"] = df["arrival_date_year"].astype(str)+"-"+df["arrival_date_month"].astype(str)+"-"+df["arrival_date_day_of_month"].astype(str)
df["arrival_date"] = pd.to_datetime(df["arrival_date"],format="%Y-%m-%d")
df.insert(3, 'arrival_date', df.pop('arrival_date'))

# Note:- This new column has been added for date clean purpose, however seperate year, month and day column will be more useful for analysis

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87396 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           87396 non-null  object
 1   is_canceled                     87396 non-null  object
 2   lead_time                       87396 non-null  int64
 3   arrival_date                    87396 non-null  datetime64[ns]
 4   arrival_date_year               87396 non-null  int32
 5   arrival_date_month              87396 non-null  int32
 6   arrival_date_week_number        87396 non-null  int64
 7   arrival_date_day_of_month       87396 non-null  int32
 8   stays_in_weekend_nights         87396 non-null  int64
 9   stays_in_week_nights            87396 non-null  int64
 10  adults                          87396 non-null  int64
 11  children                        87396 non-null  float64
 12  babies                          87396 non-null  int64
 13  meal                            87396 non-null  object
 14  country                         87396 non-null  object
 15  market_segment                  87396 non-null  object
 16  distribution_channel            87396 non-null  object
 17  is_repeated_guest               87396 non-null  object
 18  previous_cancellations          87396 non-null  int64
 19  previous_bookings_not_canceled  87396 non-null  int64
 20  reserved_room_type              87396 non-null  object
 21  assigned_room_type              87396 non-null  object
 22  booking_changes                 87396 non-null  int64
 23  deposit_type                    87396 non-null  object
 24  agent                           87396 non-null  float64
 25  days_in_waiting_list            87396 non-null  int64
 26  customer_type                   87396 non-null  object
 27  adr                             87396 non-null  float64
 28  required_car_parking_spaces     87396 non-null  int64
 29  total_of_special_requests       87396 non-null  int64
 30  reservation_status              87396 non-null  object
 31  reservation_status_date         87396 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int32(3), int64(12), object(12)
memory usage: 21.0+ MB

# Saving file

In [39]:
df.to_csv("Clean Data.csv",index=False)